html, body {
    height: 100%;
    counter-reset: booknumber;
}
img{
    outline:none;
    border: none;
    max-width: 100%;
    object-fit: cover;
}
a {
    color: #33373d;
    text-decoration: none !important;
}
ul,ol,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Roboto',sans-serif;
    background: #f6f7f9;
}
header{
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 12px;
}
.header_2{
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #f0f1f2;
}
.header_2 .back{
    /*padding: 13px 19px;*/
    /*font-size: 16px;*/
    /*line-height: 16px;*/
    padding: 8px 19px;
    font-size: 26px;
    line-height: 16px;
}
.header_2 .account{
    float: right;
    padding: 9px 14px;
    color: #33373d;
}
.header_2 .account .fa-times{
    display: none;
    font-size: 20px;
    margin-top: 3px;
}
.header_2 .account.active .fa-times{display: block;}
.header_2 .account.active .fa-bars{display: none;}
.header_2 h1{
    float: left;
    font-size: 16px;
    text-align: center;
    width: calc(100% - 135px);
    padding: 13px 0;
    margin: 0;
}
.icon_search{
    float: left;
    width: 30px;
    height: 42px;
    background: url(../images/icon_search.png) no-repeat center;
    background-size: 22px;
}
.guide {
    position: fixed;
    z-index: 3;
    top: 44px;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    transition: visibility .25s;
    -wekit-transition: visibility .25s;
}
.active.guide {
    visibility: visible;
    transition: none;
    -wekit-transition: none;
}
.guide .home-nav{margin-top: 0}
.guide-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    opacity: 0;
    background-color: #000;
}
.active>.guide-overlay {
    opacity: .6;
}
.guide-content {
    position: relative;
    overflow: hidden;
    padding: 0 1rem;
    -webkit-transition: -webkit-transform .15s;
    transition: transform .15s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    background-color: #fff;
}
.active>.guide-content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.guide .home-nav a{
    margin: 10px 0 20px;
}
.body-container > .content{
    min-height: 400px;
}
.footer-link{
    border-top: 1px solid #f0f1f2;
}
.footer-link a{
    height: 48px;
    line-height: 48px;
    color: #33373d;
    font-weight: 500;
}
.footer-copy {
    font-size: 13px;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #969ba3;
    margin-top: -10px;
}
.body-container{
    float:left;
    width: 100%;
    overflow: hidden;
}
.m-logo{
    font-size: 17px;
    margin-right: 10px;
    font-weight: 500;
    float: left;
}
.forum-link{
    font-size: 13px;
    display: block;
    text-align: center;
    color: #ed424b;
    border: 1px solid #ed424b;
    line-height: 1.5rem;
    padding: 5px 12px;
    float: left;
    border-radius: 4px;
}
.download_app{
    float: left;
    margin-right: 10px;
}
.download_app_fixed{
    position: fixed;
    bottom: 10px;
    left: 5%;
    z-index: 10;
    background-color: #339a99;
    width: 90%;
    height: 48px;
    padding: 0 10px;
    line-height: 48px;
    color: #fff !important;
    font-size: 14px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    text-align: center;
}
.account{
    font-size: 17px;
    color: #ed424b;
}
.bg-white{
    background: #fff;
}
.mrgtop-6{
    margin-top: 6px;
}
.mrgtop-12{
    margin-top: 12px;
}
.mrgbot-6{
    margin-bottom: 6px;
}
.mrgbot-12{
    margin-bottom: 12px;
}
.pdd-6{
    padding:6px;
}
.pdd-12{
    padding:12px;
}
.wd-f100{
    float:left;
    width: 100%;
}
.home-slide{
    float: left;
    width: 100%;
    position: relative;
    height: 150px;
}
.home-slide .owl-carousel .owl-stage-outer{
    height: 150px;
}
.home-slide .owl-carousel .owl-stage{
    position: absolute;
    top:0;
    left: 0;
    height: 150px;
}
.home-slide .owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: -15px;
}
.home-slide .owl-theme .owl-dots .owl-dot span{
    width: 5px;
    height: 5px;
    margin: 5px 3px;
    background: #fff;
    position: relative;
    z-index: 100000;
}
.home-slide .owl-theme .owl-dots .owl-dot.active span{
    background: #ed424b;
}
.search-box{
    margin-top: 8px;
}
.search-box label{
    border: 0;
    box-shadow: none;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background: url(../images/icon_search.png) no-repeat 38% center #fff;
    background-size: 22px;
}
#searchPopup .search-box{
    margin-top: -4px;
    float: left;
    width: calc(100% - 25px);
}
#searchPopup  #closeSearchPopup{
    float: right;
    font-size: 17px;
}
#searchPopup .search-box input{
    border: 0;
    box-shadow: none;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background: url(../images/icon_search.png) no-repeat 5px center #f6f7f9;
    background-size: 22px;
    text-align: left;
    text-indent: 20px;
}
.search-list{
    height: 100%;
    overflow: auto;
    width: 100%;
    position: relative;
}
.search-popup {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
.search-list-ul{
    padding-left: 15px;
    top: 0 !important;
}
.search-list-ul li{
    float: left;
    width: 100%;
    border-bottom: 1px solid #f0f1f2;

}
.search-list-ul li a{
    float: left;
    width: 100%;
    padding: 10px 0px;
    position: relative;
}
.search-list-ul li strong{
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.search-list-ul li a i{
    position: absolute;
    right: 15px;
    top: 23px;
    font-size: 15px;
}
.home-nav{
    margin-top: 8px;
    background: #fff;
    padding: 12px;
}
.home-nav.home-crap  a{
    width: 20%;
}
.home-nav a img{
    width: 33px;
    height: 33px;
}
.home-nav a span{
    font-size: 12px;
    float: left;
    width: 100%;
    margin-top: 5px;
    font-weight: 500;
}
.home-nav .home-icon{
    width: 27px;
    height: 26px;
    display: inline-block;
    background-image: url(../images/sprite.png);
    background-position: -31px 0;
    background-size: 87px 87px;
}
.home-nav .nav-category .home-icon{
    width: 24px;
    background-position: -63px -28px;
}
.home-nav .nav-trophy .home-icon{
    background-position: 0 0;
}
.home-nav .nav-money .home-icon{
    background-position: -30px -30px;
}
.home-nav .nav-converter .home-icon{
    background-position: 0 -60px;
}
.home-nav .nav-decu .home-icon{
    background: url(../images/ic_coupon.png) no-repeat center top / 26px 26px;
}
.home-nav .nav-filter .home-icon{
    background:  url(../images/ic_filter.png) no-repeat center 3px / 24px 24px;
}
.home-nav .nav-follow i{
    font-size: 26px;
    color: #ec9f00;
}
.home-nav .nav-follow.active i:before{
    content: "\f02e";
}
.home-nav .nav-account .home-icon{
    background-position: -63px 0;
    width: 24px;
    height: 24px;
}
.block-update .btn-tabs{
    display: table;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
}
.block-update .btn-tabs .btn-tab{
    font-weight: 400;
    font-size: 13px;
    padding: 5px 5px;
    text-align: center;
    color: #ed424b;
    border: 1px solid #ed424b;
    margin-right: -1px;
    float: left;
    width: 33.3333%;
    text-decoration: none;
}
.block-update .btn-tabs .btn-tab:first-child {
    border-radius: 4px 0 0 4px;
}
.block-update .btn-tabs .btn-tab:last-child {
    border-radius: 0 4px 4px 0;
}
.block-update .btn-tabs .btn-tab.active {
    color: #fff;
    background-color: #ed424b;
}
.module-title {
    font-weight: 400;
    display: inline;
    color: #33373d;
    font-size: 16px;
}
.module-title::before {
    display: inline-block;
    box-sizing: border-box;
    width: .625rem;
    height: 1em;
    content: '';
    vertical-align: -.22ex;
    color: transparent;
    border-left: 2px solid #ed424b;
}

.module-box .module-slide{
    float:left;
    width: 100%;
}
.module-box .owl-carousel .owl-stage-outer{
    height: 170px;
}
.module-box .owl-carousel .owl-stage{
    position: absolute;
    top:0;
    left: 0;
    height: 170px;
}
.module-box .owl-theme .owl-nav.disabled+.owl-dots{
    display: none;
}
.module-box .story-detail p{
    margin: 3px 0 2px;
    font-size: 13px;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
}
.module-box .story-detail p.item-author{
    color: #969ba3;
    font-size: 12px;
}
.module-list .story-image{
    float: left;
    width: 66px;
    margin-right: 5px;
    height: 88px;
    overflow: hidden;
}
.module-list .story-detail{
    float: right;
    width: calc(100% - 85px);
}
.module-list .story-detail h4{
    font-size: 14px;
    margin: 0;
    display: inline-block;
}
.listing .book-item a{
    /*padding-left:30px;*/
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}
.recent-view .module-list .story-image{
    width: 40px;
    height: 55px;
}
.recent-view .module-list .story-detail {
    float: right;
    width: calc(100% - 50px);
}
/*.listing .book-item a:before{*/
    /*content: counter(booknumber) '.';*/
    /*counter-increment: booknumber;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*height: 1.5em;*/
    /*margin: auto;*/
    /*font-size: 16px;*/
    /*font-weight: 500;*/
/*}*/
.listing .book-item a::after{
    display: block;
    content: '';
    -webkit-transition: margin-left .15s;
    transition: margin-left .15s;
    border-bottom: 1px solid #f0f1f2;
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    left: 0px;
}
.categories{
    border-bottom: 1px solid #f0f1f2;
    height: 44px;
    padding: 0;
    position: relative;
}
.categories .outer-categories{
    float: left;
    width: 100%;
    height: 44px;
}
.categories .outer-categories .owl-stage-outer{
    position: absolute;
}
.categories .category{
    padding: 12px 0px 11px;
    width: 100%;
    text-align: center;
    float: left;
}
.categories .category.active{
    border-bottom: 2px solid #2798A1;
}
.categories .owl-item{
    float:left;
}
.pagination{
    width:100%;
}
.pagination > li:last-child{
    float:right;
}
.book-detail .detail{
    float: right;
    width: calc(100% - 100px);
    position: relative;
}
.book-mark{
    position: absolute;
    right: 2px;
    top: -2px;
    font-size: 22px;
    color: #ec9f00 !important;
}
.read-mark{
    float: right;
    font-size: 13px;
    line-height: 24px;
    display: inline-block;
    padding: 0 8px;
    text-align: center;
    border-radius: 3px;
    background-color: #ed424b;
    color: #fff;
    margin-top: -3px;
    margin-right: 3px;
}
.star-box {
    width: 80px;
    height: 16px;
    position: relative;
    background: url(../images/star-off.png) repeat-x;
    margin: 0px 5px 10px 0;
    display: block;
    float:left;
}
.star-box .star-number {
    float: left;
    height: 16px;
    background: url(../images/star-on.png) repeat-x;
}
.book-detail .detail h4{
    margin-top: 0;
    margin-bottom: 5px;
}
.book-detail .detail p{
    margin: 0 0 5px;
    width: 100%;
    float: left;
    font-size: 13px;
}
.box-social {
    padding: 9px 0px 6px;
    border-top: 1px solid #f0f1f2;
    height: 65px;
    margin-left: -1px;
    border-bottom: 1px solid #f0f1f2;
}
.box-social > a{
    font-size: 14px;
    text-decoration: none;
    float: left;
    width: 100%;
    cursor: pointer;
    color: #4e4e4e;
    line-height: 22px;
}
.box-social > a > span.like-number-social{
    font-size: 17px;
}
/*.box-social > a.social-fb{*/
    /*line-height: 53px;*/
    /*font-size: 16px;*/
    /*color: #999;*/
/*}*/
.box-social > a.social-fb > i{
    font-size: 19px;
}
.box-social > a > i{
    font-size: 22px;
    color: #999;
    line-height: 30px;
    margin-bottom: 3px;
}
.box-social > a > .following,.box-social > a.active > .follow{
    display: none;
}
.box-social > a.active > .following{
    display: block;
}
.box-social > a.active,.box-social > a.active > i{
    /*color: #2582be;*/
    color: #ec9f00;
    font-weight: 500;
}
.chap-list{
    border-top: 1px solid #f0f1f2;
    border-bottom: 1px solid #f0f1f2;
}
.chap-list a{
    color: #000;
    font-weight: 400;
    font-size: 13px;
    padding: 0;
    line-height: 14px;
}
.chap-list a span{
    color: #888;
}
.tag-list a.tag {
    float: left;
    border: 1px solid #dae1e8;
    padding: 5px 7px;
    margin: 4px;
    border-radius: 6px;
}
.desc-text{
    line-height: 1.6;
}
.chapters{
    float:left;
    width: 100%;
    margin-bottom: 10px;
}
.chapters h2{
    font-size: 13px;
    text-transform: uppercase;
    color: #666;
    font-weight: 500;
    margin-bottom: 10px;
    padding-left: 15px;
}
.chapters ul{
    float: left;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.chapters ul > li{
    float: left;
    width: 100%;
    padding-left: 15px;
}
.chapters li > a{
    float: left;
    width: 100%;
    padding: 12px 0;
    border-top: 1px solid #ddd;
    font-weight: 400;
    font-size: 15px;
}
.chapters li > a.first{
    border-top:0;
}
.chapters.popup{
    position: fixed;
    top: 0px;
    left: 70px;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: -1;
    background: #fff;
    /*opacity: 0;*/
    display: none;
    transition: all ease-out 100ms;
    -webkit-transition: all ease-out 100ms;
    -moz-transition: all ease-out 100ms;
}
.chapters.popup.active{
    z-index: 4;
    display: block;
}
.bg-pop-chap{
    position: fixed;
    z-index: 3;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.chapters.popup h2{
    text-align: center;
    padding: 0;
    color: #ed424b;
}
.chapters.popup .active a{
    color: #ed424b;
}
.list_top {
    margin-bottom: 0;
}
.list_top ul{
    border-top: 0;
    border-bottom: 1px solid #f0f1f2;
}
.list_top ul li a{padding-right: 15px;}
.chap-content .chap-c{
    white-space: pre-wrap;
    font-weight: 400;
    color: #262626;
    font-family: "Times New Roman";
    font-size: 18px;
    line-height: 1.5;
}
body.chap-view{
    background: #c4b395 url(../images/skin-default.0.50.jpg);
    background-size: 100% 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.chap-view .header_2{
    background: transparent;
    border-bottom: 1px solid #9a9181;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    background: #c4b395 url(../images/skin-default.0.50.jpg) repeat-y center;
}
body.chap-view .chap-content{
    margin-top: 30px;
    margin-bottom: 40px;
}
.chap-view .download_app_fixed{display: none;}
.chap-view footer{
    background: transparent;
    display: none;
}
.chap-view .footer-link{
    border-color: #9a9181;
}
.chap-view .footter-fix{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.9);
    opacity: 0;
    transition: all ease-out 100ms;
    -webkit-transition: all ease-out 100ms;
    -moz-transition: all ease-out 100ms;
}
.chap-view .footter-fix.active{
    opacity: 0.9;
}
.chap-view .footter-fix nav{
    padding: 8px 12px;
    border-top: 1px solid rgba(255,255,255,.1);
}
.chap-view .footter-fix nav a{
    font-size: 20px;
    color: rgba(255,255,255,0.6);
    width: 20%;
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
}
.chap-view .footter-fix nav a small{font-size: 60%;}
.chap-view .footter-fix nav a.active{
    color: #ed4259;
}

.chap-view .footter-fix .box-theme{
    padding: 15px 10px;
    border-top: 1px solid rgba(255,255,255,.1);
}
.chap-view .footter-fix .box-theme span {
    line-height: 32px;
    width: 69px;
    height: 30px;
    float:left;
    border: 1px solid #e5e5e5;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    position: relative;
}
.chap-view .footter-fix .box-theme span i {
    opacity: 0;
    font-size: 14px;
    position: absolute;
    top: 7px;
    left: 50%;
    color: #ed4259;
    transition: opacity .3s;
    margin-left: -7px;
}
.chap-view .footter-fix .box-theme span.active {
    border: 1px solid #ed4259;
}
.chap-view .footter-fix .box-theme span.active i {
    opacity: 1;
}
.chap-view .footter-fix .box-theme .value-01 {
    background: #f5eacc;
    background: rgba(245,234,204,.8);
}
.chap-view .footter-fix .box-theme .value-02 {
    background: #e4f1f5;
    background: rgba(228,241,245,.8);
}
.chap-view .footter-fix .box-theme .value-03 {
    background: #e6f2e6;
    background: rgba(230,242,230,.8);
}
.chap-view .footter-fix .box-theme .value-04 {
    background: #e0e0e0;
    background: rgba(224,224,224,.8);
}
.chap-view .footter-fix .box-theme .value-05 {
    position: relative;
    background: #191b1c;
    background: rgba(25,27,28,.8);
    border: 1px solid #444;
}
.control-chap a{
    width: 125px;
    float: left;
    text-align: center;
    padding: 8px;
    border: 1px solid #63605a;
    color: #504242;
}
.list-desc{
    border-bottom: 1px solid #f0f1f2;
    border-top: 1px solid #f0f1f2;
}
.page-login{
    background: #fff;
}
.page-login .logo{
    width: 160px;
    height: 38px;
    margin: 60px auto 38px;
    background-size: 100%;
    font-size: 24px;
}
#login-form{
    padding: 0 24px;
}
#login-form .form-group{
    background: #F6F7F9;
    margin-bottom: 12px;
    border-radius: 4px;
}
#login-form .form-group i{
    display: inline-block;
    vertical-align: middle;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    width: 18px;
    height:18px;
    color: #999;
    margin: 8px 12px;
}
#login-form .form-group input{
    display: inline-block;
    vertical-align: middle;
    width: 82%;
    height: 40px;
    padding: 10px 0;
    line-height: 20px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
#login-form .btn.btn-login{
    display: block;
    width: 100%;
    margin: 5px 0 10px;
    height: 40px;
    border-radius: 100px;
    border-color: #ED424B;
    background: #ED424B;
    z-index: 1;
    color: white;
    text-align: center;
}
#login-form .fb-login{
    width: 100%;
    text-align: left;
    font-size: 15px;
    line-height: 24px;
    border-radius: 6px;
}
#login-form .fb-login i{
    margin-right: 10px;
    font-size: 21px;
}
.list-comment{
    float: left;
    width: 100%;
    padding: 15px;
    padding-bottom: 25px;
    background: #fff;
}
#list-comment{
    max-height: 400px;
    overflow-y: auto;
}

.list-comment .comment{
    list-style: none;
    float:left;
    width:100%;
    padding: 16px 0;
    border-top: 1px solid #e5e5e5;
}
.list-comment .comment:first-child{
    border: 0;
}
.list-comment li .comment-avatar{
    float:left;
    width: 50px;
    height: 50px;

}
.list-comment li .comment-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.list-comment li .comment-info{
    float:left;
    width: calc(100% - 50px);
}
.list-comment li .comment-info .user-name{
    color: #3f5a93;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}
.list-comment li .comment-info .user-title{
    color: #666;
    font-weight: 500;
    font-size: 12px;
    margin-left: 5px;
}
.list-comment li .comment-info .content{
    margin: 5px 0;
    direction: ltr;
    color: #666;
    font-weight: 500;
    font-family: Arial, sans-serif;
    white-space: pre-line;
    font-size: 14px;
    line-height: 22px;
}
.list-comment li .comment-info .content .see-more{
    color: #365899;
}
.list-comment li .comment-info .actions .time-post{
    color: #90949c;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
}
.list-comment li .comment-info .actions a{
    color: #3f5a93;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
}
.list-comment li .comment-info .actions .presentation{margin: 0 5px;}
.list-comment li .comment-info .actions .like-box{display: inline;}
.list-comment li .comment-info .actions .like-number{
    color: #a6a6a6;
    font-size: 14px;
    letter-spacing: 2px;
}
.list-comment li .comment-info .actions .like-number i{
    font-size: 16px;
    margin-right: 5px;
}
.list-comment li .comment-info .actions .like-number.act{
    color: #ed4259;
}
#child-comment{
    margin: 10px 0 20px;
    float: left;
    width: 100%;
    border-left: 1px dotted #d3d6db;
    padding-left: 8px;
}
#load-more-comment{
    border: none;
    margin-top: 10px;
    text-shadow: none;
    text-align: center;
    font-weight: 500;
    border-radius: 3px;
    font: 12px/34px Arial, '-apple-system', Simsun;
    height: 34px;
    background: #f7f6f2;
    width: 100%;
    float: left;
    padding: 0;
    color: #3f5a93;
}
.child-more{
    margin-top:10px
}
.view-page .list-comment .child-more a{
    color: #365899;
    line-height: 1.34;
    font-size: 13px;
    font-weight: 600;
    font-family: Helvetica, Arial, sans-serif;
}
.comments > .form-comment{
    /*position: fixed;*/
    bottom: 0;
    z-index: 1000;
    background: #fff;
    padding: 0px 0 10px;
    margin: 0;
    /*border-top: 1px solid #d3d6db;*/
}
.form-comment .comment-avatar{
    float: left;
    width: 50px;
    height: 50px;
    display: none;
}
.form-comment .box-input{
    float: left;
    width:100%;
    padding:0 15px;
}
.form-comment .box-input .box-form{
    float:left;
    width: 100%;
    border: 1px solid #ccc;
}
.form-comment .box-input .box-form textarea{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    max-width: 100%;
    min-height: 50px;
    resize: none;
    overflow: hidden;
}
.form-comment .box-input .box-form .button-sets{
    padding: 5px 15px;
    text-align: right;
}
.form-comment .box-input .box-form .button-sets .btn-post{
    background: #bf2d27;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    line-height: 16px;
    border-radius: 0;
    width: 100px;
    height: 28px;
    outline: none;
    border: 0;
}
.form-comment .box-input .box-form .button-sets .btn-post.disable{
    background: gray;
}
.review-box{
    position: fixed;
    left: 2%;
    top: 50%;
    margin-top: -200px;
    /* margin-left: -200px; */
    width: 96%;
    height: 320px;
    z-index: 10000;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    display: none;
}
.review-bg{
    background: #fff;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}
.review-header{
    text-align: center;
    background: #2798A1;
    color: #fff;
    border-radius: 3px 4px 0 0;
    padding: 5px 0;
    position: relative;
}
.review-star{
    height: 100px;
}
.review-star .review-star-box{
    float: left;
    width: 100%;
    margin-top: 5px;
    padding-left: 15%;
}
.review-star .star input{
    display: none;
}
.review-star .star{
    width: 20px;
    height: 20px;
    position: relative;
    background: url(../images/star-off.png) no-repeat center center;
    display: block;
    float: left;
    margin-right: 25px;
    cursor: pointer;
}
.review-star .star.active{
    background-image: url(../images/star-on.png);
}
.review-star .review-label{
    font-size: 16px;
    font-weight: 400;
    color: #2798a1;
    margin-top: 10px;
    display: none;
}
.review-star .review-label.default{display: block}
.review-text > textarea{
    max-width: 100%;
}
.review-button{
    float: left;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.review-button button{
    float: left;
    width: 100%;
    border: 0;
    background: #2798a1;
    color: #fff;
    font-size: 17px;
    padding: 8px;
    border-radius: 0 0 4px 4px;
}
.close-review{
    font-size: 20px;
    color: #fff;
    position: absolute;
    left: 10px;
    top: 5px;
    transform: rotate(0deg);
    transition: .5s;
}
.close-review:hover{
    transform: rotate(90deg);
    color: #fff;
}
.box-font{
    padding: 18px 12px;
}
.box-font input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.8px 0;
}
.box-font input[type=range]:focus {
    outline: none;
}
.box-font input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: none;
    background: #fff;
    border-radius: 1.3px;
    border: 0.2px solid #fff;
}
.box-font input[type=range]::-webkit-slider-thumb {
    box-shadow: none;
    border: 1px solid #ed424b;
    height: 12px;
    width: 12px;
    border-radius: 13px;
    background: #ed424b;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
.box-font input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ed424b;
}
.box-font a{
    font-size: 15px;
    color: #fff;
    float: left;
    width: 25px;
    text-align: center;
    line-height: 29px;
}
.box-font .range{
    float: left;
    width: calc(100% - 50px);
}
body.chap-view.theme-02,body.chap-view.theme-02 .header_2{
    background: url(../images/theme_4_popup.png) #e7f5f6;
}
body.chap-view.theme-03,body.chap-view.theme-03 .header_2{
    background: #c8e8c8;
}
body.chap-view.theme-04,body.chap-view.theme-04 .header_2{
    background: #fff;
}
body.chap-view.theme-05,body.chap-view.theme-05 .header_2{
    color: rgba(255,255,255,.5);
    background: #1a1a1a;
}
body.chap-view.theme-05 .chap-content .chap-c{
    color: rgba(255,255,255,.5);
}
.top-action a{
    width: 100px;
    height: 60px;
    display: inline-block;
    margin: 0;
    line-height: 105px;
    font-size: 13px;
    font-weight: 400;
}
.top-action .vote-action{
    background: url(../images/ic_push.png) no-repeat center top / 40px 40px;
}
.top-action .vote-number{
    background: url(../images/ic_coupon.png) no-repeat center top / 40px 40px;
}
.middle-list li{
    border-bottom: 1px solid #f0f1f2;
    position: relative;
}
.middle-list{
    min-height: 450px;
}
.middle-list li i{
    position: absolute;
    width: 20px;
    height: 100%;
    left: 12px;
    text-align: center;
    font-size: 27px;
    z-index: 1;
    top: 20px;
}
.middle-list li span.no{
    float: left;
    width: 20px;
    height: 100%;
    text-align: center;
    margin-right: 10px;
    position: relative;
    z-index: 2;
    color: #000;
    font-size: 15px;
    line-height: 40px;
}
.middle-list li img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}
.middle-list li span{
    float: right;
    margin-right: 15px;
    font-size: 15px;
    line-height: 40px;
    font-weight: 400;
}
.middle-list li.no1 span.no,.middle-list li.no2 span.no,.middle-list li.no3 span.no{
    color: #fff;
    font-size: 12px;
}
.middle-list li.no1 i{
    color: #b90000;
}
.middle-list li.no2 i{
    color: #cfcf00;
}
.middle-list li.no3 i{
    color: darkgreen;
}
.center-header {
    overflow: hidden;
    min-height: 170px;
    margin-top: -43px;
    text-align: center;
    color: #fff;
    background: #ed424b url(../images/center-header-bg.0.50.jpg) no-repeat center;
    background-size: cover;
    float: left;
    width: 100%;
}
.center-header img{
    width: 58px;
    height: 58px;
    margin-top: 30px;
    border-radius: 100%;
}
.center-header-p{
    font-size: 20px;
    margin: 5px 0;
    font-weight: 400;
}
.icon-level-1{
    font-size: 14px;
}
.account-page .header_2{
    background: transparent;
    border: none;
}
.account-page .body-container{
    overflow: visible;
}
.account-page .header_2 .account,.account-page .header_2 .back{
    color: #fff;
}
.module-account{padding-bottom: 0;}
.module-account .center-nav-ol{
    margin-top: -12px;
}
.module-account li{
    padding: 0 6px;
}
.module-account li a{
    padding: 10px 0px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #f0f1f2;
}
.account-page .home-nav{margin-top: 12px;}
.account-page .home-nav .ic-acc{
    color: #ffa100;
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
}
.account-page .home-nav a span{
    font-size: 13px;
}
.module-account li:last-child a{border: 0;}
.module-account li a strong{
    font-size: 15px;
    font-weight: 400;
}
.module-account li a i{
    top:18px;
    margin-right: 10px;
    font-size: 13px;
    width: 16px;
    height: 18px;
}
.sign-out{
    font-size: 14px;
    display: block;
    color: #ed424b;
    background: 0 0;
    font-weight: 400;
}
.module-box .mail-item{
    border-bottom: 1px solid #cecece;
}
.mail-item a {
    float: left;
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.ui-autocomplete{
    z-index: 10000;
    border: 0;
    max-width: 99%;
    padding: 0 10px;
}
.ui-autocomplete li{
    padding: 5px 0 !important;
    float: left;
    width: 100%;
    border-bottom: 1px solid #f0f1f2;
}
.ui-menu .ui-menu-item a{
    font-size: 14px;
    color: #555;
    font-weight: 300;
    font-family: 'Roboto',sans-serif;
    float: left;
    width: 100%;
    padding: 10px 0px !important;
    position: relative;
}
.ui-menu .ui-menu-item a strong {
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.ui-menu .ui-menu-item a span{
    font-weight: 300 !important;
}
.ui-menu .ui-menu-item a i {
    position: absolute;
    right: 15px;
    top: 23px;
    font-size: 15px;
}
.ui-menu .ui-menu-item a.ui-state-focus{
    border: 0;
    background: none;
    font-family: 'Roboto',sans-serif;
    margin: 0;
}
.nap-xu{
    float: left;
    padding: 0px 0 20px;
}
.box-buy{
    font-family: Verdana;
}
.box-buy h1{
    font-size: 18px;
    color: #333;
}
.box-top span{
    font-size: 14px;
    color: #333;
    display: inline-block;
    padding: 8px 5px 0 0;
}
.total-price{
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #fff1b8;
    clear: both;
    position: relative;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    font-weight: 700;
}
.box-content h2{
    position: relative;
    height: 1px;
    background: #ebebeb;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
}
.box-content h2 span{
    padding: 0 10px;
    background: #f4f4f4;
    width: 220px;
    position: absolute;
    left: -webkit-calc(50% - 100px);
    left: calc(50% - 110px);
    top: -10px;
    white-space: nowrap;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    font-family: Verdana;
}
.box-content ul{
    margin-bottom: 20px;
    padding: 0;
}
.box-content ul li{
    box-sizing: border-box;
    min-height: 48px;
    max-width: 480px;
    margin: 0 auto;
    position: relative;
    list-style: none;
}
.box-content li button{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    line-height: 48px;
    border: 1px solid #999;
    height: 48px;
    display: block;
    text-align: left;
    padding: 0;
    box-sizing: border-box;
    width: -webkit-calc(100% - 25px);
    width: calc(100% - 25px);
    margin-left: 25px;
    background: none;
    position: relative;
    margin-bottom: 10px;
    outline: none;
    vertical-align: middle;
    background: #fff;
}
.box-content li button.active {
    border: 1px solid #C49E48;
}
.box-content li button i{
    display: block;
    position: absolute;
    left: -25px;
    top: 15px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    color: #999;
}
.box-content li button.active i{
    color: #C49E48;
}
.box-content li button span{
    color: #333;
    font-size: 14px;
    font-family: Verdana;
    text-indent: 10px;
    float: left;
}
.box-content li button span.icon{
    display: inline-block;
    background:url("https://truyen.tangthuvien.vn/public/images/credit-card-icons-47226.png") no-repeat center;
    width: 55px;
    height: 46px;
    background-size: 35px;
    border-right: 1px solid #999;
}
.box-content li button.active span.icon{
    background-color: #fff1b8;
    border-right: 1px solid #C49E48;
}
.condition p{
    font-size: 14px;
    color: #333;
    font-family: Verdana;
    font-style: italic;
    line-height: 22px;
}
.card-checkout{
    margin-top: 10px;
}
.card-checkout .checkout{
    height: 60px;
}
.card-checkout .checkout label{
    border: 1px solid #efefef;
    height: 50px;
    cursor: pointer;
}
.card-checkout .checkout label.active{
    border: 1px solid #589f39;
}
.card-checkout img{
    width: 100%;
}
.card-checkout input{
    display: none;
}
.item-update a.book-mark.active i:before {
    content: "\f02e";
}
.top-action a.numbers {
    color: #333;
    line-height: 1.5;
    font-size: 15px;
    margin-top: 25px;
    cursor: text;
}
.top-action span.number {
    font-size: 17px;
}
.email-box .story-user{cursor: pointer}
.email-box .story-user  h5{font-weight: 400;}
.email-box .story-user .inbox-sub h5.unread{font-weight: 600;}
.border-solid {
    border-bottom: 1px solid #ccc !important;
}
.email-box .border-bot{
    padding: 10px;
    background:#f0f7fc;
    border: 0;
}
.email-box .border-bot img{
    float: left;
    width: 50px;
    margin-right: 10px;
}
.email-box .border-bot > div{
    float: left;
    width: calc(100% - 70px);
}
.email-box .border-bot > div > h5{
    text-transform: capitalize;
    font-size: 15px;
}
.email-box .mail-content{
    padding: 20px 10px;
}
.email-box .mail-content p{
    font-size: 14px;
    font-weight: 400;
}
.email-box .mail-content > span{
    float: left;
    width: 100%;
    margin: 10px 0;
}
.email-box .mail-content > a{
    border: 1px solid;
}
.col-xs-6.shop-item {
    padding: 12px;
    border: 1px solid #ccc;
    margin: 5px;
    width: calc(50% - 10px);
}
.shop-item img{
    object-fit: contain;
}
.module-box .mail-item a span.pull-right{
    color: red;
    line-height: 22px;
    padding: 7px 10px;
}
.module-box .mail-item a.non-active span.pull-right{

    border: 1px solid #419a99;
    color: #419a99;
}
.reviews-box .book-mid-info .intro{
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}
.reviews-box .book-mid-info .intro .intro-more{
    color: royalblue;
}
.reviews-box .book-img-box{
    float: left;
    width: 70px;
}
.reviews-box .book-img-box img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.reviews-box .book-mid-info h4{
    margin-bottom: 0;
}
.reviews-box .book-mid-info p.update {
    float: left;
    width: 100%;
    border-top: 1px solid #e6e6e6;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.reviews-box .book-mid-info p.update a {
    color: #2798A1;
    font-size: 14px;
    font-weight: 500;
}
.reviews-box .book-mid-info p.social a.act {
    color: #ed4259;
}
 .box-donate{
     position: fixed;
     width: 90%;
     height: 200px;
     top: 50%;
     left: 5%;
     background: #fff;
     padding: 20px;
     border: 1px solid #cecece;
     margin: -120px 0 0;
     z-index: 10;
}
 .box-donate .lbf-panel-close{
    position: absolute;
    right: 0;
    top:0;
}
 .box-donate .form-control {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
 .box-donate button{
    display: block;
    border-radius: 2px;
    margin-bottom: 6px;
    height: 40px;
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
     position: relative;
     z-index: 1;
     border-color: #BF2C24;
     background: #BF2C24;
     color: white;
     text-align: center;
}
 .mask{
     position: fixed;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     z-index: 9;
     background: #000000a8;
 }
 .review-plus a{
     position: fixed;
     top: 70%;
     left: 0;
     padding: 10px;
     background: #419a99;
     color: #fff;
     font-size: 25px;
     width: 35px;
     height: 35px;
     line-height: 15px;
     z-index: 8;
 }
.review-plus a.filter{
    margin-top: 36px;
    font-size: 16px;
}
.eva-star-wrap h4 {
    font: 13px/16px Roboto,'-apple-system',Simsun;
    margin-bottom: 10px;
    color: grey;
    font-weight: 500;
}

.e-wall{
    min-height: 320px;
    max-height: 400px;
    height: auto;
    margin-top: -230px;
}
.e-wall .eva-box input{
    padding-right: 35px;
}
.e-wall .looking{
    float: right;
    margin-top: -34px;
    width: 35px;
    height: 34px;
    text-align: center;
    line-height: 34px;
}
.review-box .book-popup{ padding: 10px;}
.review-box img{width: 25px;}
.review-box .book-popup a.lbf-panel-close,.filter-box .book-popup a.lbf-panel-close{
    position: absolute;
    right: 5px;
    top: 5px;
}
.filter-box{
    position: fixed;
    left: 2%;
    top: 50%;
    width: 96%;
    z-index: 10000;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    max-height: 450px;
    display: none;
}
.filter-box .book-popup {
    padding: 10px;
}
.filter-box a.filter-tag{
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #cdcdcd;
    margin-right: 8px;
    margin-bottom: 8px;
}
.filter-button{
    float: right;
    padding: 9px 14px;
    color: #33373d;
    font-weight: 400;
    font-size: 15px;
}
.rank-nav-list{
    padding: 45px 0 20px;
}
.rank-nav-list h4 {
    font-family: Roboto, '-apple-system', Simsun;
    margin-top: 20px;
    font-size: 16px;
    float: left;
    width: 100%;
    text-indent: 12px;
    margin-bottom: 10px;
}
.rank-nav-list ul {
    float: left;
    width: 100%;
    background: #fff;
    padding: 12px;
}
.rank-nav-list ul li {
    float: left;
    margin: 6px 6px 6px 0;
}
.rank-nav-list ul li a {
    font: 15px/1 Arial, '-apple-system', Simsun;
    padding: 6px;
    float: left;
    border: 1px solid;
    border-radius: 4px;
}
.rank-nav-list ul li.act a {
    color: #ed4259;
}

.ttv-story-title-block {
    max-height: 3.9em;
}

.book-fans-cell {
    padding: 0 .5rem;
}
.cell {
    display: table-cell;
    width: 101vw;
}
.ttv-btn-group {
    display: table;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
}

.fans-li {
    padding: 1.5rem 0 1rem;
    text-align: center;
}
.fans-li .rel {
    position: relative;
}
.btn-group-cell {
    font-size: 100%;
    font-weight: 400;
    display: table-cell;
}
.fans-cover {
    width: 4.2rem;
    height: 4.2rem;
    vertical-align: bottom;
    border-radius: 3rem;
    box-shadow: 0 0 1px rgba(150,155,163,.3);
}
.fans-name {
    margin: .3125rem .25rem 0;
}
.ell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.book-fans-me {
    float: right;
    width: 25%;
    border-left: 1px solid #f0f1f2;
}
.fans-icon {
    background-image: url(/images/sprite_v2.png);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-fans-1 {
        background-size: 88px 77px;
    }
    .icon-fans-2 {
        background-size: 88px 77px;
    }
    .icon-fans-3 {
        background-size: 88px 77px;
    }
}

.icon-fans-1 {
    background-position: -46px -44px;
    width: 16px;
    height: 13px;
}
.icon-fans-2 {
    background-position: -66px -44px;
    width: 16px;
    height: 13px;
}
.icon-fans-3 {
    background-position: 0 -64px;
    width: 16px;
    height: 13px;
}

.book-author-vv .tag-honor, .rel > .tag-honor {
    position: absolute;
    bottom: 0;
    left: 48%;
    margin-left: -1.25rem;
    color: white;
    background-color: rgba(0,0,0,.8);
}
.dark {
    color: #33373d;
}
.tag-honor {
    font-family: youyuan,'pingfang sc';
    font-size: .75rem;
    line-height: 14px;
    line-height: calc(1rem - 2px);
    display: inline-block;
    box-sizing: border-box;
    min-width: 2.5rem;
    height: 1rem;
    text-align: center;
    white-space: nowrap;
    border-radius: 40px;
    background-color: currentColor;
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,.2),rgba(255,255,255,.2) 50%,rgba(255,255,255,0) 50%);
    background-image: linear-gradient(to bottom,rgba(255,255,255,.2),rgba(255,255,255,.2) 50%,rgba(255,255,255,0) 50%);
}

.ttv-ticket-number {
    font-size: 80%;
    font-weight: 200;
}

.book-detail-btn {
    margin-top: 1em
}
.btn-normal {
    font-size: 1.2rem;
    line-height: 3rem;
    display: inline-block;
    padding: 0 1rem;
    text-align: center;
    border-radius: .125rem;
    background-color: currentColor;
    text-transform: uppercase;
    /*pointer-events:none;*/
}
.btn-normal.red:focus,
.btn-normal.red:hover {
    color: #ed424b;
}
.btn-normal.white:focus,
.btn-normal.white:hover {
    color: #fff;
}
.btn-normal.orange:focus,
.btn-normal.orange:hover {
    color: #ec9f00;
}
.btn-group-cell:first-child > .btn-normal {
    margin-left: 0;
}
.btn-group-cell > .btn-normal {
    display: block;
    width: calc(100% - .6667rem);
    margin-left: .3333rem;
    padding: 0;
}
.btn-normal.white {
    box-shadow: inset 1px 0 #e3e4e6, inset 0 1px #e3e4e6, inset 0 -1px #e3e4e6, inset -1px 0 #e3e4e6;
}
.red {
    color: #ed424b;
}
.white {
    color: #fff;
}
.orange {
    color: #ec9f00;
}
.btn-normal.white::first-line {
    color: #33373d;
}
.btn-normal::first-line {
    color: #fff;
}
.module-header {
    height: 2.75rem;
    border-top: 0;
    border-bottom: .7px solid rgba(0,0,0,.1);
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    line-height: 1.75rem;
    overflow: hidden;
    margin-bottom: 1rem;
}
.module-header::after {
    display: table;
    clear: both;
    content: '';
}
.module-header-r {
    position: relative;
    float: right;
    min-width: 4rem;
    margin-right: 0.3rem;
}
.pdb-12 {
    padding-bottom: 12px!important;
}
.float-left {
    float: left;
}
.book-layout {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 1rem;
    -webkit-transition: padding-left .15s;
    transition: padding-left .15s;
}
.book-author-vv {
    position: relative;
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 12px;
}
.book-author-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(0,0,0,.1);
}
.book-ol-author .author-icon {
    font-size: .875rem;
}
.book-layout > .author-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #969ba3;
    width: 1em;
    height: 1em;
    vertical-align: -.25ex;
    fill: currentColor;
    text-align: center;
    font-size: 1.5em;
}
.ovf-hidden {
    overflow: hidden;
}
.book-cell.ovf-hidden h4 {
    margin: 0;
    font-size: 107%;
    font-weight: 400;
}
.book-cell.ovf-hidden p {
    font-size: 100%;
    font-weight: 300;
    margin-top: .5em;
    margin-bottom: 5px;
}
.m-w-20-ch {
    max-width: 20ch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.god-detail-inf {
    position: relative;
    padding-top: 5px;
    padding-bottom: 9px;
    text-align: center;
    border-bottom: 1px solid #f6f7f9;
    background: rgba(255,255,255,.85);
    background: -webkit-linear-gradient(bottom,#fff,rgba(255,255,255,0) 108px) no-repeat center bottom;
    background: linear-gradient(to top,#fff,rgba(255,255,255,0) 8rem) no-repeat center bottom;
}
.god-detail-inf .book-author-vv {
    float: none;
    width: 64px;
    height: 64px;
    margin: 0 auto 14px;
}
.book-desc {
    font-size: .875rem;
    line-height: 1.125rem;
    overflow: hidden;
    margin: .375rem 0;
    color: #969ba3;
}
.god-detail-inf .book-desc {
    line-height: 1.5;
    margin-right: 1rem;
    margin-left: 1rem;
}
.book-title {
    font-size: 16px;
    font-weight: 400;
}
.god-data-t {
    font-size: 12px;
    -webkit-transform: scale(.83333);
    transform: scale(.83333);
    color: #969ba3;
    font-weight: 400;
}
.god-data-d {
    font-size: 16px;
}
.god-data-d, .god-data-t {
    text-align: center;
}
.account-action-link > a {
    font-weight: 100;
}
.account-action-link > a:last-child {
    float: right;
}
.book-introduce {
    position: relative;
    height: 90px;
    max-height: none;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book-introduce.active {
    white-space: pre-line;
    height: auto;
}
.book-introduce-more {
    position: absolute;
    width: 32px;
    height: 22.4px;
    right: 0;
    bottom: 0;
    padding-right: 8px;
    text-align: right;
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),#fff 1rem);
    background: linear-gradient(to right,rgba(255,255,255,0),#fff 1rem);
}
.book-introduce.active .book-introduce-more {
    display: none;
}
.book-introduce-more > i {
    font-size: 16px;
    color: #969ba3;
}