h1 {
  font-family: "UTM NguyenHa 02";
  font-weight: normal;
  font-size: 1.5em;
  text-align: right;
  margin: 1.5em 1em 3em 0;
}
p {
  text-align: justify;
  text-indent: 1.25em;
  line-height: 1.5;
  margin: 0;
  padding: 0.25em 0 0 0;
}
sup {
  font-size: 70%;
  line-height: 50%;
}
a {
  text-decoration: none;
}
.break {
  margin: 2em 0 0 0;
}
div.quote {
  margin: 1.5em 1.5em 1.5em 2.5em;
}
div.quote p.right, div.web1 p.right {
  text-align: right;
  text-indent: 0;
}
div.chat {
  margin: 1em 1.5em 1em 1.5em;
}
div.chat p {
  text-indent: 0;
  padding-top: 1.25em;
}
div.chat p:first-child {
  text-align: center;
  font-weight: bold;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
  text-indent: 0;
}
div.chat p.right_s {
  text-align: right;
  font-style: italic;
  font-size: 85%;
  padding-top: 0;
}
div.chat p.seen {
  font-style: italic;
  font-size: 85%;
  padding-top: 0;
}
div.web, div.web1 {
  margin: 1.5em 1.5em 1.5em 2em;
  border-left: solid 1px;
}
div.web p, div.web1 p {
  padding-left: 0.5em;
}
div.web p.top, div.web1 p, div.quote p {
  text-indent: 0;
  text-align: left;
}
[class^="calibre-viewer"] aside {
  display: none !important;
}
